{% extends "base.html" %}

{% block title %}
<h1>CAM: Class Activation Mapping </h1>
{% endblock %}

{% block content %}
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
		<img src="{{filename}}" class="center">
{% endif %}
<div class="button-container">
<form method="post" action="/cam/" enctype="multipart/form-data">
	<input class = "button button1" type="file" name="file" autocomplete="off">
	<button class="button button2" type="submit">Submit</button>
</form>
</div>
{% endblock %}