{% extends "base.html" %}

{% block title %}
<h1>{{fency_name}}</h1>
{% endblock %}

{% block content %}

<p>
	<h3>Class Activation Map highlights regions of the image the classification model looks at while making predictions.</h3>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <h4>{{ message }}</h4>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if result %}
	<img class="center" src="{{result}}" />
{% endif %}
{% if not result and method =='cam' %}
	<img class="center" src="/static/cam.png" />
	{% endif %}
{% if not result and method =='gradcam' %}
	<img class="center" src="/static/gradcam.png" />
	{% endif %}
{% if not result and method =='gradcam++' %}
	<img class="center" src="/static/gradcam++.png" />
{% endif %}
<form method="post" action="{{method}}" enctype="multipart/form-data" autocomplete="off">
	<div class="button-container">
	<input class = "button button1" type="file" name="file" autocomplete="off" required>
	<div class="autocomplete" style="width:300px;">
		<input id="label" type="text" name="class_name" placeholder="Select Class (Optional)">
	</div>
	<input class="button button2" type="submit">
	</div>
</form>
{% endblock %}