{% extends "base.html" %}

{% block title %}
<h1>Grad-CAM: Gradient-weighted Class Activation Mapping </h1>
{% endblock %}

{% block content %}

<p>
	<h3>Grad-CAM highlights regions of the image the classification model looks at while making predictions.</h3>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <h4>{{ message }}</h4>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if result %}
	<img class="center" src="{{result}}" />
{% endif %}
<form method="post" action="/gradcam/" enctype="multipart/form-data">
	<div class="button-container">
	<input class = "button button1" type="file" name="file" autocomplete="off" required>
	{%if named_class%}
			<select id="label" name='label' style="width: 350px; height: 55px;">
				<option disabled selected value> -- select an option -- </option>
				{% for key in named_class %}
					<option value="{{key}}">{{named_class[key]}}</option>
				{% endfor %}
			</select>
    {% endif %}
	<button class="button button2" type="submit">Submit</button>
	</div>
</form>
{% endblock %}